"*":
  "atom-fuzzy-grep":
    grepCommandString: "pt -i --nocolor --nogroup --column"
  "autocomplete-plus":
    useCoreMovementCommands: false
  core:
    allowPendingPaneItems: false
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-sass-lint"
      "linter-haml"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    fontSize: 13
    invisibles:
      eol: " "
    showInvisibles: true
  "exception-reporting":
    userId: "18f74ed7-0efd-4083-8dfc-7284413ba692"
  "goto-definition":
    contextMenuDisplayAtFirst: false
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
    ]
    jumpToImport: true
  "linter-flow":
    executablePath: "/usr/local/Cellar/flow/0.46.0/bin/flow"
  "linter-sass-lint":
    configFile: ".scss-lint.yml"
    resolvePathsRelativeToConfig: true
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  minimap: {}
  nuclide:
    "nuclide-diagnostics-ui": {}
    "nuclide-file-tree":
      allowKeyboardPrefixNavigation: false
      hideIgnoredNames: false
      showOpenFiles: false
      showUncommittedChanges: false
    "nuclide-flow":
      canUseFlowBin: true
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
  "platformio-ide-terminal":
    style:
      fontSize: "12"
  "recent-files-fuzzy-finder":
    maxFilesToRemember: 300
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    incrementalSearch: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
