"*":
  "atom-fuzzy-grep":
    grepCommandString: "pt -i --nocolor --nogroup --column"
  "autocomplete-plus":
    useCoreMovementCommands: false
  core:
    allowPendingPaneItems: false
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-sass-lint"
      "linter-haml"
      "linter-flow"
      "linter"
      "linter-scss-lint"
      "nuclide-file-tree"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    fontSize: 13
    invisibles:
      eol: " "
    showInvisibles: true
  "exception-reporting":
    userId: "18f74ed7-0efd-4083-8dfc-7284413ba692"
  "flow-ide": {}
  "goto-definition":
    contextMenuDisplayAtFirst: false
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
    ]
    jumpToImport: true
  "linter-flow":
    executablePath: "/usr/local/Cellar/flow/0.47.0/bin/flow"
  "linter-sass-lint":
    configFile: ".scss-lint.yml"
    resolvePathsRelativeToConfig: true
  "linter-ui-default":
    panelHeight: 215
  minimap: {}
  nuclide:
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
    "nuclide-buck":
      compileErrorDiagnostics: false
      suggestTaskRunner: false
    "nuclide-clang":
      enableDefaultFlags: false
    "nuclide-ctags":
      disableWithHack: false
    "nuclide-diagnostics-ui": {}
    "nuclide-file-tree":
      allowKeyboardPrefixNavigation: false
      hideIgnoredNames: false
      showOpenFiles: false
      showUncommittedChanges: false
    "nuclide-flow":
      canUseFlowBin: true
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
  "platformio-ide-terminal":
    style:
      fontSize: "12"
  "recent-files-fuzzy-finder":
    maxFilesToRemember: 500
    restoreSession: true
  "sync-settings":
    _lastBackupHash: "682a8e841c114ec6102e79fb4d1391d0a57c3347"
    gistId: "77d71f3431d3c1ca9e462b40e864f041"
    personalAccessToken: "942ff37c95370ede8a2e9c2a981ebbc8b7330431"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    incrementalSearch: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
