'body':
  'ctrl-n': 'pane:show-next-item'
  'ctrl-p': 'pane:show-previous-item'
  'f1': 'tree-view:toggle'
  'ctrl-o': 'fuzzy-finder:toggle-file-finder'
  'ctrl-l': 'recent-files-fuzzy-finder:toggle-finder'
  't d': 'core:close'
  'ctrl-[': 'core:cancel'

'atom-text-editor.vim-mode-plus.normal-mode':
  'shift-o': 'unset!'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'cmd-enter': 'hyperclick:confirm-cursor'
  'ctrl-s': 'symbols-view:toggle-file-symbols'
  'shift-o': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-w 0': 'tree-view:toggle-focus'
  'ctrl-%': 'copy-path:copy-project-relative-path'
  'f2': 'symbols-view:toggle-file-symbols'

'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-n': 'autocomplete-plus:move-down'
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-f': 'autocomplete-plus:page-down'
  'ctrl-b': 'autocomplete-plus:page-up'

'.tree-view':
  'ctrl-w 0': 'tree-view:toggle-focus'
  'ctrl-w l': 'tree-view:toggle-focus'
  's p': 'tree-view:open-selected-entry-down'
  'v s p': 'tree-view:open-selected-entry-right'
  'h': 'unset!'
  'enter': 'nerd-treeview:open-tab'
  'ctrl-f': 'nerd-treeview:scroll-full-screen-down'
  'ctrl-b': 'nerd-treeview:scroll-full-screen-up'

'.fuzzy-finder':
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
  'ctrl-v': 'pane:split-right'
  'ctrl-s': 'pane:split-down'

'.recent-files-fuzzy-finder':
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
  'ctrl-v': 'pane:split-right'
  'ctrl-s': 'pane:split-down'

'.symbols-view':
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
